* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    background-color: var(--black);
}

h1,
h2,
h3,
h4,
a {
    font-family: "Source Sans Pro";
    font-weight: 300;
    color: var(--text-white);
}

p,
span {
    font-family: "Hind Siliguri";
    font-weight: 300;
    color: var(--text-white);
}

section {
    padding: 60px 0;
}
