#Song.adjust {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background: #ada9bb !important;
}

#Song button {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: #0c0c0c;
}

#Song button.paused {
    color: #3e8c78;
}

#Song .rangeContainer {
    flex: 1;
    display: flex;
    align-items: center;
}

#Song .audioTimer {
    color: #0c0c0c;
}

/* Range */

#Song input[type="range"].currentTimeAudio {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 100%;
    max-width: 1280px;
    transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #Song input[type="range"].currentTimeAudio {
        overflow: hidden;
        height: 20px;
        -webkit-appearance: none;
        background-color: rgb(43, 47, 49);
    }
    #Song input[type="range"].currentTimeAudio::-webkit-slider-runnable-track {
        height: 20px;
        -webkit-appearance: none;
        color: var(--black);
        /* // margin-top: -1px; */
        transition: box-shadow 0.2s ease-in-out;
    }
    #Song input[type="range"].currentTimeAudio::-webkit-slider-thumb {
        width: 20px;
        -webkit-appearance: none;
        height: 20px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -700px 0 0 690px #276d75, inset 0 0 0 40px #3e8c78;
        border-radius: 50%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
        /* // top: 1px; */
    }
    #Song input[type="range"].currentTimeAudio:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -700px 0 0 690px #1c585f, inset 0 0 0 3px #256353;
    }
}
#Song input[type="range"].currentTimeAudio::-moz-range-progress {
    background-color: #43e5f7;
}
#Song input[type="range"].currentTimeAudio::-moz-range-track {
    background-color: #9a905d;
}
#Song input[type="range"].currentTimeAudio::-ms-fill-lower {
    background-color: #43e5f7;
}
#Song input[type="range"].currentTimeAudio::-ms-fill-upper {
    background-color: #9a905d;
}
